'.source.sass, .source.css.sass, .source.css, .source.css.liquid, .source.scss.liquid, .source.scss, .source.css.scss, .source.less, .source.css.less':
  'absolute inner':
    'prefix': 'absoluteinner'
    'body': """
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    """
